[access]
	inheritFrom = All-Non-CI-Projects
[access "refs/*"]
	owner = group Administrators
[project]
	description = The Qt Quick Controls for Tizen repository ssh://codereview.qt-project.org:29418/qt/qtquickcontrols-tizen.git
[receive]
	requireContributorAgreement = true
	requireChangeId = true
[cherryPick]
	includeReviewedOn = true
[submit]
	action = cherry pick
	mergeContent = true
[cherryPick "categoryFooters"]
	Sanity-Review = true
